{% extends 'base.html.twig' %}

{% block title %}Connection{% endblock %}

{% block body %}
<div class="content">
    <h1>Connection</h1>
    <form class="login-form" method="post">
        <input
            type="text"
            value="{{ last_username }}"
            name="username"
            placeholder="username"
            id="inputUsername"
            class="form-input"
            autocomplete="username"
            required
            autofocus
        />
        <input
            type="password"
            name="password"
            placeholder="password"
            id="inputPassword"
            class="form-input"
            autocomplete="current-password"
            required
        />

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        {% if error %}
            <div class="form-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %} 

        <button class="form-submit" type="submit">Sign in</button>
    </form>
</div>
{% endblock %}
