$shadow: rgba(17, 17, 17, .3);
$fog: rgba(17, 17, 17, .7);
$black: #333;
$white: #fff;
$red: #c52727;
$blue: #3843b9;

$font-size: 18px;
$font-size-h1: 40px;
$font-size-title: 32px;
$font-size-subtitle: 24px;

$primary-color: $blue;
