{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}
<main class="content">
    <h1>Projects</h1>
    
    <div class="projects">
        {% for project in projects %}
            {% include '/components/card.html.twig' with {
                project: project
            } %}
        {% endfor %}
    </div> 
</main>
{% endblock %}
